# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directories
venv/
env/

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore logs, databases, and other data files
*.log
*.sql
*.sqlite

# Ignore VS Code settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore MacOS system files
.DS_Store

# Ignore runs and weights folders
runs/
weights/
